## Data Types

**Determine the type of an object:**

In [7]:
type(2)

int

In [8]:
type(2.0)

float

In [9]:
type('two')

str

In [10]:
type(True)

bool

In [11]:
type(None)

NoneType

**Convert an object to a given type:**

In [14]:
float(2)

2.0

In [15]:
int(2.9)

2

In [16]:
str(2.9)

'2.9'

## 8. Strings

- **String properties:** iterable, immutable

In [98]:
# convert another data type into a string
s = str(42)
s

'42'

In [99]:
# create a string directly
s = 'I like you'

**Examine a string:**

In [100]:
s[0]

'I'

In [101]:
len(s)

10

**Basic string methods (does not modify the original string):**

In [105]:
s.lower()

'i like you'

In [106]:
s.upper()

'I LIKE YOU'

In [107]:
s.startswith('I')

True

In [108]:
s.endswith('you')

True

In [109]:
# checks whether every character in the string is a digit
s.isdigit()

False

In [110]:
# returns index of first occurrence, but doesn't support regex
s.find('like')

2

In [111]:
# returns -1 since not found
s.find('hate')

-1

In [112]:
# replaces all instances of 'like' with 'love'
s.replace('like', 'love')

'I love you'

**Split a string:**

In [113]:
# split a string into a list of substrings separated by a delimiter
s.split(' ')

['I', 'like', 'you']

In [114]:
# equivalent (since space is the default delimiter)
s.split()

['I', 'like', 'you']

In [115]:
s2 = 'a, an, the'
s2.split(',')

['a', ' an', ' the']

**Join or concatenate strings:**

In [116]:
# join a list of strings into one string using a delimiter
stooges = ['larry', 'curly', 'moe']
' '.join(stooges)

'larry curly moe'

In [117]:
# concatenate strings
s3 = 'The meaning of life is'
s4 = '42'
s3 + ' ' + s4

'The meaning of life is 42'

**Remove whitespace from the start and end of a string:**

In [118]:
s5 = '  ham and cheese  '
s5.strip()

'ham and cheese'

**String substitutions:**

In [119]:
# old way
'raining %s and %s' % ('cats', 'dogs')

'raining cats and dogs'

In [120]:
# new way
'raining {} and {}'.format('cats', 'dogs')

'raining cats and dogs'

In [121]:
# new way (using named arguments)
'raining {arg1} and {arg2}'.format(arg1='cats', arg2='dogs')

'raining cats and dogs'

**String formatting ([more examples](https://mkaz.tech/python-string-format.html)):**

In [122]:
# use 2 decimal places
'pi is {:.2f}'.format(3.14159)

'pi is 3.14'

**Normal strings versus raw strings:**

In [123]:
# normal strings allow for escaped characters
print('first line\nsecond line')

first line
second line

In [124]:
# raw strings treat backslashes as literal characters
print(r'first line\nfirst line')

first line\nfirst line