## Data Types

**Determine the type of an object:**

In [7]:
type(2)

int

In [8]:
type(2.0)

float

In [9]:
type('two')

str

In [10]:
type(True)

bool

In [11]:
type(None)

NoneType

**Convert an object to a given type:**

In [14]:
float(2)

2.0

In [15]:
int(2.9)

2

In [16]:
str(2.9)

'2.9'

## Boolean Operations

**Assignment statement:**

In [35]:
x = 5

**Comparisons:**

In [36]:
x > 3

True

In [37]:
x >= 3

True

In [38]:
x != 3

True

In [39]:
x == 5

True

**Boolean operations:**

In [40]:
5 > 3 and 6 > 3

True

In [41]:
5 > 3 or 5 < 3

True

In [42]:
not False

True

In [43]:
False or not False and True     # evaluation order: not, and, or

True

In [99]:
# create a string directly
s = 'I like you'

In [100]:
s[0]

'I'

In [101]:
len(s)

10

**Basic string methods (does not modify the original string):**

In [105]:
s.lower()

'i like you'

In [106]:
s.upper()

'I LIKE YOU'

In [107]:
s.startswith('I')

True

In [108]:
s.endswith('you')

True

In [109]:
# checks whether every character in the string is a digit
s.isdigit()

False

In [110]:
# returns index of first occurrence, but doesn't support regex
s.find('like')

2

In [111]:
# returns -1 since not found
s.find('hate')

-1

In [112]:
# replaces all instances of 'like' with 'love'
s.replace('like', 'love')

'I love you'

**Split a string:**

In [113]:
# split a string into a list of substrings separated by a delimiter
s.split(' ')

['I', 'like', 'you']

In [114]:
# equivalent (since space is the default delimiter)
s.split()

['I', 'like', 'you']

In [115]:
s2 = 'a, an, the'
s2.split(',')

['a', ' an', ' the']