## Math

In [25]:
10 + 4

14

In [26]:
10 - 4

6

In [27]:
10 * 4

40

In [28]:
10 ** 4    # exponent

10000

In [29]:
5 % 4      # modulo - computes the remainder

1

In [30]:
# Python 2: returns 2 (because both types are 'int')
# Python 3: returns 2.5
10 / 4

2

In [31]:
10 / float(4)

2.5

In [32]:
# force '/' in Python 2 to perform 'true division' (unnecessary in Python 3)
from __future__ import division

In [33]:
10 / 4     # true division

2.5

In [34]:
10 // 4    # floor division

2

## Comparisons and Boolean Operations

In [35]:
x = 5

**Comparisons:**

In [36]:
x > 3

True

In [37]:
x >= 3

True

In [38]:
x != 3

True

In [39]:
x == 5

True

**Boolean operations:**

In [40]:
5 > 3 and 6 > 3

True

In [41]:
5 > 3 or 5 < 3

True

##  Strings

In [99]:
# create a string directly
s = 'I like you'

**Basic string methods (does not modify the original string):**

In [105]:
s.lower()

'i like you'

In [106]:
s.upper()

'I LIKE YOU'

In [112]:
# replaces all instances of 'like' with 'love'
s.replace('like', 'love')

'I love you'

**Split a string:**

In [113]:
# split a string into a list of substrings separated by a delimiter
s.split(' ')

['I', 'like', 'you']

In [114]:
# equivalent (since space is the default delimiter)
s.split()

['I', 'like', 'you']

In [115]:
s2 = 'a, an, the'
s2.split(',')

['a', ' an', ' the']

**Normal strings versus raw strings:**

In [123]:
# normal strings allow for escaped characters
print('first line\nsecond line')

first line
second line

In [124]:
# raw strings treat backslashes as literal characters
print(r'first line\nfirst line')

first line\nfirst line